/* Основные стили для страницы */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #007BFF;
    margin: 20px 0;
    text-align: center;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

/* Стили для сообщений */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    width: 100%;
}

li {
    margin: 5px 0;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li.success {
    border-left: 5px solid #28a745;
}

li.error {
    border-left: 5px solid #dc3545;
}

li.info {
    border-left: 5px solid #17a2b8;
}

/* Стили для формы */
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px;
}

form p {
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для ссылок */
a {
    color: #007BFF;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}
